<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration >-->

<!--    <property name="LOGGING.PATH" value="/data/logs"/>-->
<!--    <property name="STDOUT-PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>-->

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>${STDOUT-PATTERN}</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="ROLLING-FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${logging.path}/uranus.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; rollover daily &ndash;&gt;-->
<!--            <fileNamePattern>${LOGGING.PATH}/uranus-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            &lt;!&ndash; each file should be at most 100MB, keep 60 days worth of history, but at most 20GB &ndash;&gt;-->
<!--            <maxFileSize>100MB</maxFileSize>-->
<!--            <maxHistory>60</maxHistory>-->
<!--            <totalSizeCap>20GB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>${STDOUT-PATTERN}</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        <appender-ref ref="ROLLING-FILE-APPENDER"/>-->
<!--    </root>-->


<!--</configuration>-->